.container {
    width: 100%;
    height: 100vh;
    position: fixed;
}

.partieGauche {
    margin-top: 10%;
    margin-left: 5%;
}

.phraseAccroche {
    width: 900px;
}

.phraseAccroche h1 {
    font-weight: 300;
    font-size: 45px;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
}

.economie {
    font-weight: bold;
}

.phraseBis {
    margin: 20px 0 0 0;
}

.phraseBis h2 {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.imgHome {
    width: 1000px;
    height: 595px;
    position: absolute;
    z-index: -5;
    right: 0;
    bottom: 0;
}

.imgHome img {
    width: 100%;
    height: auto;
}


@media screen and (max-width: 1024px) {

    .partieGauche {
        margin-top: 12%;
        margin-left: 5%;
    }

    .phraseAccroche {
        width: 700px;
    }

    .phraseAccroche h1 {
        font-size: 35px;
    }

    .phraseBis h2 {
        font-size: 25px;
    }

    .imgHome {
        width: 70%;
        height: 100px;
        right: 0;
        top: 30%;
    }
}


@media screen and (max-width: 768px) {

    .partieGauche {
        margin-top: 20%;
        margin-left: 5%;
    }

    .phraseAccroche {
        width: 600px;
    }

    .phraseAccroche h1 {
        font-size: 30px;
        line-height: 30px;
    }

    .imgHome {
        width: 80%;
        height: 200px;
        top: 40%;
    }
}

@media screen and (max-width: 430px) {

    .partieGauche {
        margin-top: 30%;
        margin-left: 5%;
    }

    .phraseAccroche {
        width: 100%;
        padding: 1px;
    }

    .phraseAccroche h1 {
        font-weight: 300;
        font-size: 30px;
        line-height: 35px;

    }

    .phraseBis h2 {
        font-size: 25px;
    }

    .imgHome {
        width: 100%;
        height: 200px;
        top: 55%;
    }
}






